.list_item {
  margin: 0 0 6.4rem;

  .wrap_contents {
    @include flex;
    border-top: 1px solid var(--border2);
    padding: 6.4rem 0 0 0;
    max-width: 100%;

    @include mobile {
      flex-direction: column-reverse;
    }

    .contents {
      flex: 1 1 0.83rem;
      width: calc(100% - 27rem - 4.8rem);

      @include tablet_landscape {
        width: calc(100% - 22.2rem - 4.8rem);
      }

      @include tablet {
        width: calc(100% - 15.5rem - 4.8rem);
      }

      @include mobile {
        width: 100%;
      }

      .title {
        @include flex;
        margin: 0 0 2.4rem;
        width: calc(100% - 2.4rem);

        a {
          @include ellipsis;
          font-size: 1.6rem;
          color: var(--text4);
          font-weight: 400;
        }

        .wrap_ico_lock {
          margin: 0 0 0 0.4rem;
        }
      }

      .summary {
        height: calc(2rem * 2);

        p {
          @include ellipsis(2);
          line-height: 2rem;
          font-size: 1.4rem;
          color: var(--text2);
        }
      }

      .wrap_info {
        @include flex;
        line-height: 1.5;
        width: 100%;
        margin: 4.8rem 0 0;

        @include mobile_all {
          font-size: 1.4rem;
        }

        @include tablet {
          margin: 3.2rem 0 0;
        }

        @include tablet_landscape {
          margin: 3.2rem 0 0;
        }

        @include mobile {
          margin: 3.2rem 0 0;
        }

        div {
          @include flex;
        }

        span,
        a {
          font-size: 1.2rem;
          color: var(--text2);
        }

        .createdAt {
          &::after {
            content: '·';
            margin: 0 0.8rem;
            color: var(--text2);
          }
        }

        .like_count {
          margin: 0 0 0 1.6rem;
        }
      }
    }

    .thumbnail {
      @include position;
      flex:1 1 auto;
      min-width: 27rem;
      max-width: 27rem;
      margin: 0 0 0 4.8rem;
      height: 16rem;

      @include tablet_landscape {
        min-width: 22.2rem;
        max-width: 22.2rem;
      }

      @include tablet {
        min-width: 15.5rem;
        max-width: 15.5rem;
        height: 15.5rem;
      }

      @include mobile {
        min-width: 100%;
        margin: 0 0 3.2rem;
        height: 18rem;
      }

      img {
        @include position(absolute, $l: 0);
        width: 100%;
        height: 100%;
        border-radius: 0.8rem;
        object-fit: cover;
      }

      .ico_like {
        @include position(absolute, $t: 2rem, $r: 2rem);
      }
    }
  }
}
