.recent_item {
  margin: 0 0 3.2rem;

  .wrap_contents {
    @include flex;
    width: 100%;

    .contents {
      flex: 1 1 auto;
      width: calc(100% - 15rem - 3.2rem);

      .category {
        margin: 0 0 1.6rem;

        span {
          font-size: 1.4rem;
          color: var(--primary);
          font-weight: 500;
        }
      }

      .title {
        @include flex;
        margin: 0 0 1.2rem;
        width: calc(100% - 2.4rem);

        a {
          @include ellipsis;
          font-size: 1.6rem;
          color: var(--text4);

          @include mobile {
            font-size: 1.4rem;
          }
        }

        .wrap_ico_lock {
          margin: 0 0 0 0.4rem;
        }
      }

      .summary {
        height: calc(2rem * 2);

        p {
          @include ellipsis;
          width: 100%;
          line-height: 2rem;
          font-size: 1.4rem;
          color: var(--text2);

          @include mobile {
            font-size: 1.2rem;
          }
        }
      }

      .wrap_info {
        @include flex;
        margin: 1.2rem 0 0;

        div {
          @include flex;
        }

        span {
          font-size: 1.2rem;
          color: var(--text2);
        }

        .author {
          .by {
            margin: 0 0.4rem 0 0;
            font-style: italic;
          }

          &::after {
            content: '·';
            margin: 0 0.8rem;
            color: var(--text2);
          }
        }
      }
    }

    .thumbnail {
      @include flex($ai: initial);
      @include position;
      flex: 1 1 auto;
      min-width: 15.5rem;
      max-width: 15.5rem;
      height: 15.5rem;
      margin: 0 3.2rem 0 0;

      img {
        @include position(absolute, $l: 0);
        width: 100%;
        height: 100%;
        border-radius: 0.8rem;
        object-fit: cover;
      }

      .ico_like {
        @include position(absolute, $t: 2rem, $r: 1.6rem);
      }
    }
  }
}
