/* CSS RESET */

*:not(.content_intro ul, ol, li, [class*='md-editor'], [class*='emoji']) {
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;
  list-style: none;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  font-family: 'Pretendard', 'Malgun Gothic', sans-serif;
}

:root {
  -webkit-tap-highlight-color: transparent;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  overflow-wrap: break-word;
  -moz-tab-size: 4;
  tab-size: 4;
}

html {
  font-size: 62.5%;
}

html,
body {
  height: 100%;
  overflow-x: hidden;
  letter-spacing: -0.02em;
  scroll-behavior: smooth;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  width: 100%;
}

a,
button {
  background: none;
  border: 0;
  cursor: pointer;
}

a {
  text-decoration: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input {
  background: transparent;
  border: 0;
}