@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700&family=Roboto+Condensed:wght@700&family=Roboto:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200');
@import url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff');

:root {
  --primary: #9496e1;
  --primary-dark: #9496e1;
  --secondary: #9496e1;
  --secondary-dark: #9496e1;

  --likeActive: #f3c7c7;
  --likeActive-dark: #ff6d6d;
  --success: #4cd964;
  --warning: #ffc861;
  --error: #ff3b30;
  --success-light: #e4f3e5;
  --warning-light: #fff0d9;
  --error-light: #fde3e1;
  --text-light: #a5a5a5;
  --text-dark: #333;
  --thumbnail: #e6e6e6;
  --list_title: #a9a9a9;
  --list_summary: #bababa;
  --list_info: #d0d0d0;
  --list_info-light: #e0e0e0;
  --list_info-dark: #bbbbbb;
  --input_text: #b0b0b0;
  --btn_border: #e5e5e5;
  --btn_text: #b7b7b7;
  --border-light: #efefef;
  --border-dark: #dddddd;

  --Ico-xs: 1.2rem;
  --Ico-sm: 1.6rem;
  --Ico-md: 2rem;
  --Ico-lg: 2.4rem;
  --Ico-xl: 3.2rem;
  --padding-sm: 0.8rem 1.2rem;
  --padding-md: 1.2rem 2.4rem;
  --padding-lg: 2.4rem 3.2rem;
  --text-sm: 1.1rem;
  --text-md: 1.2rem;
  --text-lg: 2rem;

  // header icons

  --Ico-search: 'M18.94,17.27l5.06,5.06-1.67,1.67-5.06-5.06c-1.88,1.51-4.22,2.33-6.64,2.33C4.76,21.27,0,16.5,0,10.63S4.76,0,10.63,0s10.63,4.76,10.63,10.63c0,2.41-.82,4.75-2.33,6.64Zm-2.37-.88c1.5-1.54,2.34-3.61,2.33-5.76,0-4.57-3.7-8.27-8.27-8.27S2.36,6.06,2.36,10.63s3.7,8.27,8.27,8.27c2.15,0,4.22-.83,5.76-2.33,0,0,.18-.18,.18-.18Z';
  --Ico-menu: 'M0,1.3h24V4H0V1.3z M0,10.7h16v2.7H0V10.7z M0,20h24v2.7H0V20z';
  --Ico-close: 'M12,9.3L21.3,0L24,2.7L14.7,12l9.3,9.3L21.3,24L12,14.7L2.7,24L0,21.3L9.3,12L0,2.7L2.7,0L12,9.3z';
  --Ico-lock: 'M20.4,9.6h1.2c0.7,0,1.2,0.5,1.2,1.2v12c0,0.7-0.5,1.2-1.2,1.2H2.4c-0.7,0-1.2-0.5-1.2-1.2v-12c0-0.7,0.5-1.2,1.2-1.2h1.2  V8.4C3.6,3.8,7.4,0,12,0s8.4,3.8,8.4,8.4V9.6z M3.6,12v9.6h16.8V12H3.6z M10.8,14.4h2.4v4.8h-2.4V14.4z M18,9.6V8.4c0-3.3-2.7-6-6-6  s-6,2.7-6,6v1.2H18z';
  --Ico-create: 'M17,8.9L15.1,7L2.7,19.4v1.9h1.9C4.6,21.3,17,8.9,17,8.9z M18.9,7l1.9-1.9l-1.9-1.9L17,5.1L18.9,7z M5.7,24H0v-5.7L17.9,0.4  c0.5-0.5,1.4-0.5,1.9,0l3.8,3.8c0.5,0.5,0.5,1.4,0,1.9L5.7,24L5.7,24z';

  // posts, post icons

  --Ico-like-fill: 'M12,2.7c2.8-2.5,7.2-2.4,9.9,0.3c2.7,2.7,2.8,7.1,0.3,9.9L12,23.1L1.8,12.9C-0.7,10.1-0.6,5.7,2.1,3C4.8,0.3,9.2,0.2,12,2.7  z';
  --Ico-more: 'M12,0c-1.5,0-2.7,1.2-2.7,2.7s1.2,2.7,2.7,2.7s2.7-1.2,2.7-2.7S13.5,0,12,0z M12,18.7c-1.5,0-2.7,1.2-2.7,2.7S10.5,24,12,24  s2.7-1.2,2.7-2.7S13.5,18.7,12,18.7z M12,9.3c-1.5,0-2.7,1.2-2.7,2.7s1.2,2.7,2.7,2.7s2.7-1.2,2.7-2.7S13.5,9.3,12,9.3z';

  // toolbar icons

  --Ico-row: 'M21.3,10.7v-8H2.7v8H21.3z M21.3,13.3H2.7v8h18.7V13.3z M1.3,0h21.3C23.4,0,24,0.6,24,1.3v21.3c0,0.7-0.6,1.3-1.3,1.3H1.3  C0.6,24,0,23.4,0,22.7V1.3C0,0.6,0.6,0,1.3,0z';
  --Ico-column: 'M10.7,2.7h-8v18.7h8V2.7z M13.3,2.7v18.7h8V2.7H13.3z M1.3,0h21.3C23.4,0,24,0.6,24,1.3v21.3c0,0.7-0.6,1.3-1.3,1.3H1.3  C0.6,24,0,23.4,0,22.7V1.3C0,0.6,0.6,0,1.3,0z';
  --Ico-grid: 'M22.8,0C23.5,0,24,0.6,24,1.3v21.3c0,0.7-0.5,1.3-1.2,1.3H1.2C0.5,24,0,23.4,0,22.7V1.3C0,0.6,0.5,0,1.2,0H22.8z M10.8,13.3  H2.4v8h8.4V13.3z M21.6,13.3h-8.4v8h8.4V13.3z M10.8,2.7H2.4v8h8.4V2.7z M21.6,2.7h-8.4v8h8.4V2.7z';

  // editor icons

  --Ico-toggle: 'M7.6,6.5c-3,0-5.5,2.4-5.5,5.5s2.4,5.5,5.5,5.5h8.7c3,0,5.5-2.4,5.5-5.5s-2.4-5.5-5.5-5.5H7.6z M7.6,4.4h8.7  c4.2,0,7.6,3.4,7.6,7.6s-3.4,7.6-7.6,7.6H7.6C3.4,19.6,0,16.2,0,12S3.4,4.4,7.6,4.4z M7.6,15.3c-1.8,0-3.3-1.5-3.3-3.3  s1.5-3.3,3.3-3.3s3.3,1.5,3.3,3.3S9.4,15.3,7.6,15.3z';
  --Ico-toggle-fill: 'M7.6,4.4h8.7c4.2,0,7.6,3.4,7.6,7.6s-3.4,7.6-7.6,7.6H7.6C3.4,19.6,0,16.2,0,12S3.4,4.4,7.6,4.4z M16.4,15.3  c1.8,0,3.3-1.5,3.3-3.3s-1.5-3.3-3.3-3.3s-3.3,1.5-3.3,3.3S14.6,15.3,16.4,15.3z';
  --Ico-add-image: 'M2,24c-0.6,0-1-0.2-1.4-0.6C0.2,23,0,22.6,0,22V2c0-0.6,0.2-1,0.6-1.4S1.5,0,2,0h13.6v2H2v20h20V8.4h2V22  c0,0.6-0.2,1-0.6,1.4C23,23.8,22.6,24,22,24H2z M19.3,7.4V4.7h-2.7v-2h2.7V0h2v2.7H24v2h-2.7v2.7H19.3z M4,18.6h16l-4.8-6.4L11,17.8  l-3.1-4.1L4,18.6z M2,2v20V2z';

  // arrow icons
  --Ico-arrow-down: 'M12,14l9.3-9.3L24,7.3l-12,12L0,7.3l2.7-2.7L12,14z';
  --Ico-arrow-up: 'M12,10l-9.3,9.3L0,16.7l12-12l12,12l-2.7,2.7L12,10z';
  --Ico-arrow-left: 'M10.828 12l4.95 4.95-1.414 1.414L8 12l6.364-6.364 1.414 1.414z';
  --Ico-arrow-right: 'M13.172 12l-4.95-4.95 1.414-1.414L16 12l-6.364 6.364-1.414-1.414z';

  // system icons
  --Ico-success: 'M12 22C6.477 22 2 17.523 2 12S6.477 2 12 2s10 4.477 10 10-4.477 10-10 10zm0-2a8 8 0 1 0 0-16 8 8 0 0 0 0 16zm-.997-4L6.76 11.757l1.414-1.414 2.829 2.829 5.656-5.657 1.415 1.414L11.003 16z';
  --Ico-warning: 'M12.866 3l9.526 16.5a1 1 0 0 1-.866 1.5H2.474a1 1 0 0 1-.866-1.5L11.134 3a1 1 0 0 1 1.732 0zm-8.66 16h15.588L12 5.5 4.206 19zM11 16h2v2h-2v-2zm0-7h2v5h-2V9z';
  --Ico-error: 'M12 22C6.477 22 2 17.523 2 12S6.477 2 12 2s10 4.477 10 10-4.477 10-10 10zm0-2a8 8 0 1 0 0-16 8 8 0 0 0 0 16zm-1-5h2v2h-2v-2zm0-8h2v6h-2V7z';

  // site icons

  --Ico-github: 'M12 0c-6.626 0-12 5.373-12 12 0 5.302 3.438 9.8 8.207 11.387.599.111.793-.261.793-.577v-2.234c-3.338.726-4.033-1.416-4.033-1.416-.546-1.387-1.333-1.756-1.333-1.756-1.089-.745.083-.729.083-.729 1.205.084 1.839 1.237 1.839 1.237 1.07 1.834 2.807 1.304 3.492.997.107-.775.418-1.305.762-1.604-2.665-.305-5.467-1.334-5.467-5.931 0-1.311.469-2.381 1.236-3.221-.124-.303-.535-1.524.117-3.176 0 0 1.008-.322 3.301 1.23.957-.266 1.983-.399 3.003-.404 1.02.005 2.047.138 3.006.404 2.291-1.552 3.297-1.23 3.297-1.23.653 1.653.242 2.874.118 3.176.77.84 1.235 1.911 1.235 3.221 0 4.609-2.807 5.624-5.479 5.921.43.372.823 1.102.823 2.222v3.293c0 .319.192.694.801.576 4.765-1.589 8.199-6.086 8.199-11.386 0-6.627-5.373-12-12-12z';
}

/********** CSS RESET **********/

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;
  -webkit-font-smoothing: antialiased;
  list-style: none;
  box-sizing: border-box;
}

*,
:after,
:before {
  box-sizing: border-box;
}

:root {
  -webkit-tap-highlight-color: transparent;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  overflow-wrap: break-word;
  -moz-tab-size: 4;
  tab-size: 4;
}

html {
  font-size: 62.5%;
}

html,
body {
  height: 100%;
  overflow-x: hidden;
  letter-spacing: -0.02em;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  width: 100%;
}

a,
button {
  background: none;
  border: 0;
  cursor: pointer;
}

a {
  text-decoration: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input {
  background: transparent;
  border: 0;
}

/********** CSS RESET END **********/

#app,
textarea,
input,
label,
button {
  font-family: 'Roboto', 'Noto Sans KR', sans-serif;
}

/* dropdown menu */

.dropdown {
  position: relative;
  cursor: pointer;

  &:hover .dropdown_items {
    display: flex;
  }
}
.dropdown_items {
  position: absolute;
  top: 0;
  right: 0;
  display: none;
}
