#list {
  margin: 0 0 8.4rem;

  .num {
    display: flex;
    width: 100%;
    height: 3.2rem;
    margin: 0 0 3.2rem;

    .number {
      display: flex;
      font-size: 2.4rem;
      font-weight: 700;
      color: var(--primary);
    }

    .num_border {
      width: 100%;
      height: 0.1rem;
      margin: 1.4rem 0 0 2.4rem;
      border-top: 1px solid var(--border-dark);
    }
  }
  .wrap_contents {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;

    @include mobile {
      flex-direction: column-reverse;
    }

    .contents {
      flex-shrink: 1;
      flex-grow: 0;
      margin: 0 4.8rem 0 0;

      width: calc(100% - 4.8rem);

      .wrap_title_is-private {
        display: flex;
        align-items: center;
        margin: 0 0 2.4rem;

        .title {
          a {
            font-size: 2rem;
            color: var(--list_title);
          }

          .info_ico {
            margin: 0 0 0 1.2rem;
            i {
              font-size: 2rem;
              color: var(--list_info);
            }
          }
        }
      }

      .summary {
        height: calc(2rem * 2);

        p {
          width: 100%;
          display: -webkit-box;
          -webkit-box-orient: vertical;
          -webkit-line-clamp: 2;
          overflow: hidden;
          line-height: 2rem;
          font-size: 1.3rem;
          color: var(--list_summary);

          @include mobile_all {
            font-size: 1.6rem;
          }
        }
      }

      .wrap_info {
        display: flex;
        align-items: center;
        margin: 4.6rem 0 0;

        div {
          .info_ico {
            margin: 0 0.8rem 0 0;
            i {
              font-size: 1.8rem;
            }
          }
          span {
            font-size: 1.2rem;
            color: var(--list_info);

            &.is-like {
              color: #f3c7c7;
            }
          }
        }

        .comment_count {
          margin: 0 3.2rem 0 4.8rem;

          .wrap_comment_count {
            display: flex;
            align-items: center;
            cursor: pointer;
          }
        }

        .comment_count,
        .like_count {
          display: flex;
          align-items: center;
        }
      }
    }

    .thumbnail {
      flex-shrink: 1;
      flex-grow: 1;
      display: flex;
      justify-content: flex-end;
      min-width: 27rem;

      @include tablet_landscape {
        min-width: 22.2rem;
      }

      @include tablet {
        min-width: 16rem;
      }

      @include mobile {
        min-width: 100%;
        margin: 0 0 3.2rem;
      }

      img {
        width: 100%;
        height: 16rem;
        border-radius: 4.8rem 0;
        object-fit: cover;

        @include mobile {
          height: 18rem;
        }
      }
    }
  }
}
