.slide_item {
  position: relative;
  z-index: 9;
  transition: box-shadow 0.25s ease-in 0s, transform 0.25s ease-in 0s;

  .thumbnail {
    img {
      width: 27rem;
      height: 20.8rem;
      object-fit: cover;
      border-radius: 0.8rem;

      @include tablet {
        width: 22.2rem;
      }

      @include mobile {
        width: 15.2rem;
        height: 15.2rem;
      }
    }

    .ico_like {
      position: absolute;
      top: 2rem;
      right: 2rem;
    }
  }

  .wrap_title {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 1.7rem 0 0;
    font-size: 1.6rem;

    .title {
      display: flex;
      align-items: center;
      width: 85%;

      a {
        color: var(--list_title);
        overflow: hidden;
        white-space: normal;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        white-space: pre-wrap;
        width: 95%;
      }

      .info_ico {
        margin: 0 0 0 1.2rem;
        color: var(--list_info);
      }
    }
  }

  .wrap_info {
    display: flex;
    line-height: 1.5;
    width: 100%;
    margin: 2rem 0 0;

    @include mobile_all {
      font-size: 1.4rem;
    }

    @include tablet {
      margin: 3.2rem 0 0;
    }

    @include tablet_landscape {
      margin: 3.2rem 0 0;
    }

    @include mobile {
      margin: 3.2rem 0 0;
      flex-direction: column;
    }

    span,
    a {
      font-size: 1.2rem;
      color: var(--list_info);
    }

    .wrap_comment_like {
      display: flex;

      @include mobile {
        margin: 1.2rem 0 0;
      }
    }

    .createdAt {
      &::after {
        content: '•';
        margin: 0 1.2rem;
        color: var(--list_info);
      }

      @include mobile {
        &::after {
          display: none;
        }
      }
    }

    .like_count {
      display: flex;
      align-items: center;
      margin: 0 0 0 1.6rem;

      @include mobile {
        margin: 0 1.2rem 0 0;
        &::before {
          content: '•';
          margin: 0 1.2rem 0;
          color: var(--list_info);
        }
      }
    }
  }
}
