:root {
  --primary: #9496e1;

  --likeActive: #f3c7c7;
  --likeActive-dark: #ff6d6d;

  --success: #4ade80;
  --warning: #fbbf24;
  --error: #ef4444;
  --success-light: #dcfce7;
  --warning-light: #fef3c7;
  --error-light: #fee2e2;

  --text1: #ffffff;
  --text2: #a1a1aa;
  --text3: #71717a;
  --text4: #52525b;

  --border1: #efefef;
  --border2: #e5e5e5;
  --border3: #dddddd;

  --bg1: #ffffff;
  --bg2: #fcfcfc;

  --shadow1: 0 0.1rem 2rem rgba(0, 0, 0, 0.2);

  --disable: #dddddd;
}
