:root {
  --Ico-xs: 1.2rem;
  --Ico-sm: 1.6rem;
  --Ico-md: 2rem;
  --Ico-lg: 2.4rem;
  --Ico-xl: 3.2rem;

  --padding-sm: 0.8rem 1.2rem;
  --padding-md: 1.2rem 2.4rem;
  --padding-lg: 2.4rem 3.2rem;
  --text-sm: 1.1rem;
  --text-md: 1.2rem;
  --text-lg: 2rem;
}